html,
body {
  height: 100vh;
  margin: 0;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  margin: 0;
  padding: 0;
}

table td,
table th {
  text-align: center;
}
